$text-color-white-1: #fdfdfd;
$text-color-white: #fff;
$text-color-dark-light: #3b3b3b;
$text-color-dark-black: #000;
$text-color-dark: #555555;

$color-purple--dark: #180e28;
$color-purple--light: #8e4afa;
$color-orange: #ff4d2e;
$color-nav-links: #ff2d4c;
$color-green: #00fc7e;
